/* Key:     background (288-222-213)
                - for dropdowns (208, 202, 193) - darker
                - for image preveiws (238, 232, 223) - lighter
            text/accent (114-81-101)*/



.lg.primary.gradio-button{
    color: rgb(114, 81, 101);
}

.dark .lg.primary.gradio-button{
    color: rgb(228, 222, 213);
}

/* General rule label*/
*{
    background-color: rgb(228, 222, 213);
    color: rgb(114, 81, 101);
    border-color: rgb(114, 81, 101);
    border-radius: 0px;
    font-family: "Humanist";
}

.dark *{
    background-color: rgb(114, 81, 101);
    color: rgb(228, 222, 213);
    border-color: rgb(228, 222, 213);
    border-radius: 0px;
    font-family: "Humanist";
}

/* Spot where the pictures go*/
#txt2img_results_panel, #txt2img_gallery .gradio-column.svelte-vt1mxs, div.canvas-tooltip-content{
    background-color: rgb(228, 222, 213);
}

.dark #txt2img_results_panel, .dark #txt2img_gallery .gradio-column.svelte-vt1mxs, .dark div.canvas-tooltip-content{
    background-color: rgb(114, 81, 101);
}

/*makes some symbols transparent so as to not create akward corners */
svg, span.svelte-1gfkn6j, .svelte-19hvt5v, .ml-2.svelte-1qxcj04{
    background-color: rgb(0, 0, 0, 0);
    color: rgb(114, 81, 101);
    -ms-high-contrast-adjust: none;
}

.dark svg, .dark span.svelte-1gfkn6j, .dark .svelte-19hvt5v, .dark .ml-2.svelte-1qxcj04{
    background-color: rgb(0, 0, 0, 0);
    color: rgb(228, 222, 213);
    -ms-high-contrast-adjust: none;
}

/*dropdown menus */
ul.options.svelte-1aonegi{
    background-color: rgb(228, 222, 213);
}

.dark ul.options.svelte-1aonegi{
    background-color: rgb(114, 81, 101);
}

.scroll-hide{
    padding: 0px;
    font-size: larger;
    color: rgb(114, 81, 101);
}

.dark .scroll-hide{
    padding: 0px;
    font-size: larger;
    color: rgb(228, 222, 213);
}

.ml-2.svelte-1p9xokt{
    background-color: rgb(0, 0, 0, 0);
}

.dark .ml-2.svelte-1p9xokt{
    background-color: rgb(0, 0, 0, 0);
}

/*hitting specific things that had pre-set colors beforehand*/
.wrap-inner.svelte-1xsj8nn, .secondary-wrap.svelte-1xsj8nn, .wrap.svelte-1xsj8nn, .dropdown-arrow, .svelte-s1r2yt, .block.gradio-accordion, 
.label-wrap, .token-remove, #txt2img_hr-extra, #txtimg_hr_finalres, .resolution{
    background: rgb(208, 202, 193);
    color: rgb(114, 81, 101);
}

/*hitting specific things that had pre-set colors beforehand*/
.dark .wrap-inner.svelte-1xsj8nn, .dark .secondary-wrap.svelte-1xsj8nn, .dark .wrap.svelte-1xsj8nn, .dark .dropdown-arrow,
 .dark .svelte-s1r2yt, .dark .block.gradio-accordion, .dark .label-wrap, .dark .token-remove, .dark #txt2img_hr-extra,
  .dark #txtimg_hr_finalres, .dark .resolution{
    background: rgb(94, 61, 81);
    color: rgb(228, 222, 213);
}

/*miscealanous color filling in's */

div.wrap.svelte-1xsj8nn{
    background: rgb(218, 212, 203);
}

.dark div.wrap.svelte-1xsj8nn{
    background: rgb(104, 71, 91);
}

.wrap-inner.svelte-1xsj8nn{
    border-radius: 7px;
}

#txt2img_sampling, div#setting_sd_model_checkpoint{
    background-color: rgb(228, 222, 213);
}

.dark #txt2img_sampling, .dark div#setting_sd_model_checkpoint{
    background-color: rgb(114, 81, 101);
}

.svelte-vt1mxs.gap.panel{
    background-color: rgb(228, 222, 213);
}

.dark .svelte-vt1mxs.gap.panel{
    background-color: rgb(114, 81, 101);
}

#columns-settings-saving-paths, .feather-image, circle, rect, polyline{
    background-color: rgb(0, 0, 0, 0);
}

/* img preview spaces */
.empty, .svelte-116rqfv, .svelte-1ck5uk8{
    background-color: rgb(238, 232, 223);
}

.dark .empty, .dark .svelte-116rqfv, .dark .svelte-1ck5uk8{
    background-color: rgb(124, 91, 111);
}

.selected.svelte-kqi2jn{
    color: rgb(114, 81, 101);
}

.dark .selected.svelte-kqi2jn{
    color: rgb(228, 222, 213);
}

.dark #img2img_results, .dark #img2img_results_panel, .dark #txt2img_results, .dark #extras_results, .dark #extras_results_panel {
    color:rgb(114, 81, 101);
    background-color: rgb(114, 81, 101);
    position: sticky;
    top: 0.5em;
}

.dark .gradio-container .prose a, .dark .gradio-container .prose a:visited{
    color: rgb(228, 222, 213);
    text-decoration: none;
    font-weight: bold;
}

/*uncomment the commented stuff below if a version of the logo with swapped colors ever happens*/

/*.dark*/ #logo{
    position: absolute;
    bottom: 1px;
    left: 5px;
}

/*
#logo{
    opacity: 0;
}

#logoIn{
    position: absolute;
    bottom: 1px;
    left: 5px;
}

.dark #logoIn{
    opacity: 0;
}